<th:block th:insert="~{/user/userHeader.html}"></th:block>

<div class="container" id="naja">
    <div class="card">

        <h2 style="display: flex; justify-content: center
        ; margin-top: 20px">New Recipe</h2>
        <div class="card-body p-2">
            <form enctype="multipart/form-data" id="customerForm" method="post" th:object="${recipe}">
                <!-- Recipe Name -->
                <div class="mb-3">
                    <label class="form-label" for="recipeName">Recipe Name</label>
                    <input class="form-control" maxlength="50" minlength="3" placeholder="Enter recipe name" required
                           th:field="*{recipeName}" type="text">
                    <div class="text-danger" th:errors="*{recipeName}" th:if="${#fields.hasErrors('recipeName')}"></div>
                </div>

                <!-- Author Name -->
                <div class="mb-3">
                    <label class="form-label" for="authorName">Author Name</label>
                    <input class="form-control" placeholder="Enter author name" required th:field="*{authorName}"
                           type="text">
                    <div class="text-danger" th:errors="*{authorName}" th:if="${#fields.hasErrors('authorName')}"></div>
                </div>

                <!-- Recipe Image -->
                <div class="mb-3" th:if="*{imageUrl!=null && !imageUrl.isBlank()}">
                    <label class="form-label">Recipe Photo</label>
                    <div>
                        <img class="img-thumbnail" style="width: 150px; height: 150px; object-fit: cover;"
                             th:src="*{imageUrl}">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="documentFile">Upload Recipe Photo</label>
                    <input accept="image/*" class="form-control" id="documentFile" name="documentFile" type="file">
                    <input th:field="*{imageUrl}" type="hidden">
                </div>

                <!-- Ingredients -->
                <div class="mb-3">
                    <label class="form-label" for="ingredients">Ingredients</label>
                    <textarea class="form-control" placeholder="List the ingredients" rows="3"
                              th:field="*{ingredients}"></textarea>
                    <div class="text-danger" th:errors="*{ingredients}"
                         th:if="${#fields.hasErrors('ingredients')}"></div>
                </div>

                <!-- Instructions -->
                <div class="mb-3">
                    <label class="form-label" for="instructions">Instructions</label>
                    <textarea class="form-control" placeholder="Write the instructions here" required
                              rows="4" th:field="*{instructions}"></textarea>
                    <div class="text-danger" th:errors="*{instructions}"
                         th:if="${#fields.hasErrors('instructions')}"></div>
                </div>

                <!-- Steps -->
                <div class="mb-3">
                    <label class="form-label" for="steps">Steps</label>
                    <textarea class="form-control" placeholder="List the steps" required rows="4"
                              th:field="*{steps}"></textarea>
                    <div class="text-danger" th:errors="*{steps}" th:if="${#fields.hasErrors('steps')}"></div>
                </div>

                <!-- Category -->
                <div class="mb-3">
                    <label class="form-label" for="category">Category</label>
                    <input class="form-control" placeholder="Enter category" required th:field="*{category}"
                           type="text">
                    <div class="text-danger" th:errors="*{category}" th:if="${#fields.hasErrors('category')}"></div>
                </div>

                <!-- Recipe Explanation -->
                <div class="mb-3">
                    <label class="form-label" for="recipeExplanation">Recipe Explanation</label>
                    <textarea class="form-control" placeholder="Explain your recipe" required
                              rows="3" th:field="*{recipeExplanation}"></textarea>
                    <div class="text-danger" th:errors="*{recipeExplanation}"
                         th:if="${#fields.hasErrors('recipeExplanation')}"></div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label" for="minutesToCook">Preparation Time (in minutes)</label>
                        <input class="form-control" placeholder="Minutes" required th:field="*{minutesToCook}"
                               type="number">
                        <div class="text-danger" th:errors="*{minutesToCook}"
                             th:if="${#fields.hasErrors('minutesToCook')}"></div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="hoursToCook">Preparation Time (in hours)</label>
                        <input class="form-control" placeholder="Hours" th:field="*{hoursToCook}" type="number">
                        <div class="text-danger" th:errors="*{hoursToCook}"
                             th:if="${#fields.hasErrors('hoursToCook')}"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label class="form-label" for="servings">Servings</label>
                        <input class="form-control" placeholder="Servings" th:field="*{servings}" type="number">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="calories">Calories</label>
                        <input class="form-control" placeholder="Calories" th:field="*{calories}" type="number">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="protein">Protein</label>
                        <input class="form-control" placeholder="Protein (g)" th:field="*{protein}" type="number">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="fat">Fat</label>
                        <input class="form-control" placeholder="Fat (g)" th:field="*{fat}" type="number">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="form-label" for="carbs">Carbs</label>
                        <input class="form-control" placeholder="Carbs (g)" th:field="*{carbs}" type="number">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="fiber">Fiber</label>
                        <input class="form-control" placeholder="Fiber (g)" th:field="*{fiber}" type="number">
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-4">
                    <button class="btn" type="submit">Save</button>
                    <button class="btn" type="reset">Reset</button>
                    <th:inline th:replace="~{/fragments/_backToPreviousPage.html}"></th:inline>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:insert="~{/user/userFooter.html}"></th:block>