<div class="subscribe" style="background-color: #dab7a9">
    <label class="subscribe-label" style="background-color: #dab7a9">
        Let's Stay In Touch!
    </label>
    <p class="subscribe-paragraph" style="background-color: #dab7a9">
        Join our newsletter, so that we reach out to you with our news and offers.
    </p>
    <div class="input-container" style="background-color: #dab7a9">
        <input class="subscribe-input" placeholder="Write your Email Here" type="email">
    </div>
    <button class="subscribe-button">Submit</button>
</div>
<footer style="background-color:#E89A7EFF; color:#170d0d; padding:20px; text-align:center;
height: 380px">
    <div style="max-width: 1200px; margin: 80px auto auto;">
        <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly; background-color: #E89A7EFF;">

            <div style="flex: 1; text-align:left; background-color: #E89A7EFF;">
                <h2 style="background-color: #E89A7EFF;">RecipeApp</h2>
                <p style="background-color: #E89A7EFF;">Your one-stop destination for delicious recipes</p>
            </div>

            <!-- Quick Links -->
            <div style="flex: 1; text-align:left; background-color: #E89A7EFF;">
                <h4 style="background-color: #E89A7EFF;">Quick Links</h4>
                <ul style="list-style-type:none; padding:0; background-color: #E89A7EFF; color: #170d0d;">
                    <li style="background-color: #E89A7EFF;"><a style="color:#170d0d; background-color: #E89A7EFF; text-decoration:none;"
                                                                th:href="@{/user-home}">Home</a>
                    </li>
                    <li style="background-color: #E89A7EFF;"><a style="color:#170d0d; background-color: #E89A7EFF; text-decoration:none;"
                                                                th:href="@{/recipe}">Recipes</a>
                    </li>
                    <li style="background-color: #E89A7EFF;"><a style="color:#170d0d; background-color: #E89A7EFF; text-decoration:none;"
                                                                th:href="@{/about}">About</a>
                    </li>
                    <li style="background-color: #E89A7EFF;"><a style="color:#170d0d; background-color: #E89A7EFF; text-decoration:none;"
                                                                th:href="@{/index}">Add Yours</a>
                    </li>
                    <li style="background-color: #E89A7EFF;"><a style="color:#170d0d; background-color: #E89A7EFF; text-decoration:none;"
                                                                th:href="@{/blog}">Blog</a>
                    </li>
                </ul>
            </div>

            <!-- Social Media Icons -->
            <div style="flex: 1; text-align:left; background-color: #E89A7EFF;">
                <h4 style="background-color: #E89A7EFF;">Follow Us</h4>
                <ul style="list-style-type:none; padding:0; background-color: #E89A7EFF;">
                    <li style="background-color: #E89A7EFF;"><a href="https://facebook.com" style="color:#170d0d; background-color: #E89A7EFF; text-decoration:none;"
                                                                target="_blank">Facebook</a>
                    </li>
                    <li style="background-color: #E89A7EFF;"><a href="https://instagram.com" style="color:#170d0d; background-color: #E89A7EFF; text-decoration:none;"
                                                                target="_blank">Instagram</a>
                    </li>
                    <li style="background-color: #E89A7EFF;"><a href="https://twitter.com" style="color:#170d0d; background-color: #E89A7EFF; text-decoration:none;"
                                                                target="_blank">Twitter</a>
                    </li>
                    <li style="background-color: #E89A7EFF;"><a href="https://pinterest.com" style="color:#170d0d; background-color: #E89A7EFF; text-decoration:none;"
                                                                target="_blank">Pinterest</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Copyright Information -->
        <p style="background-color: #E89A7EFF; color: #170d0d;">&copy; 2024 RecipeApp. All Rights Reserved.</p>
    </div>
</footer>
<th:block th:insert="~{/shared/_scripts.html}"></th:block>
</body>
</html>