<th:block th:insert="~{/guest/_guestheader.html}"></th:block>

<section class="homepage-content">
    <div class="left-side" style="color:#F6EED0">
        <h3>Your Daily Dish <br> A food Journey</h3>
        <p style="margin-top: 100px; margin-bottom: 50px">
            Looking for a taste of what’s brewing at our café? Now you can explore our full menu of mouthwatering
            recipes, <br>
            all available on our app! From our signature coffees to freshly baked pastries and seasonal specials,
            everything is just a tap away. <br><br>

            Whether you're craving a sweet treat or a savory snack, our app gives you an easy way to view detailed
            recipes, ingredients, and even make your own at home. <br>
            Enjoy a behind-the-scenes look at how we craft every dish with love, care, and the finest ingredients.<br>
            <br>
            Log In to the app today and dive into a world of flavor at your fingertips. <br>
            Your next favorite recipe is just waiting to be discovered!
        </p>
        <a class="btn2" th:href="@{/log-in}">Log In</a>
    </div>
    <img class="image" src="https://i.pinimg.com/736x/3d/c2/2d/3dc22dff3c0ca1616c075db2e13a31e5.jpg">
</section>

<section class="homepage-content">
    <img class="image" height="350px"
         src="https://i.pinimg.com/736x/26/a7/03/26a703e3d561b6377c452c3f7efa6e00.jpg"
         style="margin-left: 100px; margin-top: 30px" width="300px">
    <div class="left-side" style="color:#F6EED0">
        <h3>Share Your Recipes</h3>
        <p style="margin-top: 50px; margin-bottom: 50px">
            Craving something delicious? <br>
            Check out our café's food recipes on the app!<br>
            From tasty pastries to savory dishes, you'll find everything you need to recreate your favorites at home.<br>
            Sign In to the app and start cooking today!
        </p>

        <a class="btn1" th:href="@{/sign-up}">Sign Up</a>
    </div>
</section>


<div th:replace="~{/shared/_feature :: feature('Explore Recipes')}"></div>


<section class="featured-recipes" id="home">
    <div class="recipe-card" th:insert="~{/shared/_post :: showPost(
  imageUrl='https://i.pinimg.com/736x/60/58/e8/6058e822b53d6da473bcf65a705cc0e8.jpg',
  username='Carrot Cake',
  content='Easy-to-make dessert for any occasion.',
  src='')}"></div>

    <div class="recipe-card" th:insert="~{/shared/_post :: showPost(
  imageUrl='https://i.pinimg.com/736x/ab/ab/61/abab61023079f79ad829293dd4426d2f.jpg',
  username='Dinner Idea',
  content='Healthy and tasty meal for the whole family.',
  src='' )}"></div>

    <div class="recipe-card" th:insert="~{/shared/_post :: showPost(
  imageUrl='https://i.pinimg.com/736x/4b/1a/00/4b1a00519328027379512cebb397956a.jpg',
  username='Dessert',
  content='Easy-to-make dessert for any occasion.',
  src='')}"></div>

    <div class="recipe-card" th:insert="~{/shared/_post :: showPost(
  imageUrl='https://i.pinimg.com/736x/9e/9e/d2/9e9ed2b0b8fb4c2963a8cf4f4c73f65d.jpg',
  username='Lunch Recipe',
  content='Quick and delicious recipe for busy days.',
  src='')}"></div>

    <div class="recipe-card" th:insert="~{/shared/_post :: showPost(
  imageUrl='https://i.pinimg.com/736x/03/3f/cc/033fcc670a1e1833fc1ca94847c59366.jpg',
  username='Dinner Idea',
  content='Healthy and tasty meal for the whole family.',
  src='')}"></div>

    <div class="recipe-card" th:insert="~{/shared/_post :: showPost(
  imageUrl='https://i.pinimg.com/736x/59/ad/7d/59ad7dfa8c1a33019081315e262f20b5.jpg',
  username='Dessert',
  content='Quick and delicious dessert for busy days.',
  src='')}">
    </div>
</section>

<div th:replace="~{/shared/_feature :: feature('Blog')}"></div>

<section class="featured-recipes" style="margin-left: 300px">
    <div class="recipe-card" th:insert="~{/shared/_blog :: showPost(
  imageUrl='https://i.pinimg.com/736x/55/cc/3c/55cc3cbe8dee5a8a7eafe8939175ed19.jpg',
  username='The impact of Sugar Consuming on Your Health',
  content='Consuming too much sugar, particularly added sugars,can have a significant negative impact on your health...',
  src='/recipes/1')}">
    </div>

    <div class="recipe-card" th:insert="~{/shared/_blog :: showPost(
  imageUrl='https://i.pinimg.com/736x/62/9f/b5/629fb51f2f1a40beb15b8a581211ba24.jpg',
  username='Unlock the benefits of Intermittent Fasting',
  content='Intermittent fasting has gained significant attention for its potential health benefits.It involves cycling between periods of eating and fasting...',
  src='/recipes/1')}">
    </div>
</section>

<th:block th:insert="~{/guest/_guestfooter.html}"></th:block>