<section class="first-part">
    <nav class="navbar navbar-expand-lg navbar-light" >
        <div class="container-fluid" >
            <a class="navbar-brand" th:href="@{/guest-home}">
                <h1 class="logo">Recipe App</h1>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/guest-home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/recipe}">Recipe</a>
                    </li>
                    <!--                    <li class="nav-item" >-->
                    <!--                        <a class="nav-link"  th:href="@{/add-yours}">Add Yours</a>-->
                    <!--                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/blog}" >Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}" >About Us</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex ms-auto">
                <a th:href="@{/log-in}" class="btn">Log In</a>
                <a th:href="@{/sign-up}" class="btn">Sign In</a>
            </div>
        </div>
    </nav>
</section>